
<% provide(:title, 'FotoShare - Reset password') %>
<% provide(:maintitle, "Reset Password") %>

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= hidden_field_tag :email, @user.email %>

	<div class="form-group">
	    <%= f.label :password %> <br />
	    <%= f.password_field :password, :class => "form-control" %>
	</p>

	<div class="form-group">
    	<%= f.label :password_confirmation, "Confirmation" %> <br />
    	<%= f.password_field :password_confirmation, :class => "form-control" %>
	</div>

    <%= f.submit "Update password", :class => "btn btn-primary" %>
<% end %>
