
<%= will_paginate %> 

<table border="0">
	<% @users.each do |user| %>
		<% if user.id != current_user.id %>
			<tr>
				<td>
					<strong><%= link_to user.username, user %></strong>
				</td>
				<td>
					<span class="greyed italic">(<%= user.firstname + user.lastname %>)</span>
				</td>
				<td>
					<ul>
						<% current_user.user_groups.each do |group| %>
							<li>
								<%= link_to "Add to \"#{group.name}\"", relationships_path(:other_user_id => user, :group_id => group), :method => :post %> 
							</li>	
						<% end %>
					</ul>
				</td>
				<% if current_user.admin? && !current_user?(user) %>
				    <td>
				    	<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
				    </td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>

<%= will_paginate %> 
