
<%= will_paginate %> 

<table border="0">
	<% @users.each do |user| %>
		<% if user.id != current_user.id %>
			<tr>
				<td>
					<strong><%= user.username %></strong>
				</td>
				<td>
					<span class="greyed italic">(<%= user.firstname + user.lastname %>)</span>
				</td>
				<td>
					<%= link_to "Add Friend", relationships_path(:other_user_id => user, :relationship_type => "friend"), :method => :post %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>

<%= will_paginate %> 
