
<h1>Hello <%= @user.username %>!</h1>

<h2>Groups</h2>
<ul>
	<% @user.user_groups.each do |group| %>
		<li>
			<%= group.name %>
		</li>
	<% end %>
</ul>

<h2>Relationships</h2>
<ul>
	<% @relationships.each do |r| %>
		<li>
			<% if r.relationship.username != current_user.username %>
				<%= r.relationship.username %>
			<% else %>
				<%= r.user.username %>
			<% end %>
			Group: <%= r.usergroup.name %> 
		</li>
	<% end %>
</ul>	

<h2>Pending Relationship Requests to you</h2>
<ul>
	<% for r in @user.inverse_pending_relationships %>
		<li>
			<%= r.relationship.username %>
			Group: <%= r.usergroup.name %> 
			<%= link_to "accept", relationship_path(r, :status => "accept"), :method => :put %>
			<%= link_to "ignore", relationship_path(r, :status => "ignore"), :method => :put %>
		</li>
	<% end %>
</ul>

<h2>Pending Relationship Requests from you</h2>

<ul>
	<% for r in @user.pending_relationships %>
		<li>
			<%= r.relationship.username %>
			Group: <%= r.usergroup.name %> 
			<%= link_to "remove", r, :method => :delete %> 
		</li>
	<% end %>
</ul>
