
<% if @user.id == current_user.id %>
  <% provide(:maintitle, "Hello #{@user.username}!") %>
<% else %>
  <% provide(:maintitle, "#{@user.name}'s Profile") %>
<% end %>

<h3>Albums</h3>
<ul class="albums"">
  <% if @user.albums.any? %>
      <%= render @albums %>
    <%= will_paginate @albums %>
  <% end %>
</ul>

<h3>Groups</h3>
<ul>
  <% @user.user_groups.each do |group| %>
    <li>
      <%= group.name %>
    </li>
  <% end %>
</ul>

<h3>Relationships</h3>
<ul>
  <% @relationships.each do |r| %>
    <li>
      <% if r.relationship.username != current_user.username %>
	<%= r.relationship.username %>
      <% else %>
	<%= r.user.username %>
      <% end %>
      Group: <%= r.usergroup.name %> 
    </li>
  <% end %>
</ul>	

<% if @user.id == current_user.id %>
  <h3>Pending Relationship Requests to you</h3>
  <ul>
    <% for r in @user.inverse_pending_relationships %>
      <li>
	<%= r.relationship.username %>
	Group: <%= r.usergroup.name %> 
	<%= link_to "accept", relationship_path(r, :status => "accept"), :method => :put %>
	<%= link_to "ignore", relationship_path(r, :status => "ignore"), :method => :put %>
      </li>
    <% end %>
  </ul>

  <h3>Pending Relationship Requests from you</h3>
  <ul>
    <% for r in @user.pending_relationships %>
      <li>
	<%= r.relationship.username %>
	Group: <%= r.usergroup.name %> 
	<%= link_to "remove", r, :method => :delete %> 
      </li>
    <% end %>
  </ul>
<% end %>
