<% provide(:title, "FotoShare - Create Album") %>
<% provide(:maintitle, "Create Album") %>

<%= form_for @album do |f| %>
  <%= render 'shared/album_error_messages' %>

  <div class="form-group">
    <%= f.label :title, "Album title" %> <br />
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Album Description" %> <br />
    <%= f.text_area :description, :class => "form-control" %> 
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
