<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="maincontainer">
	<%= render "shared/header" %>
	
	<div id="maincontent" class="container">

		<section class="mainsection">
			<header class="sectionhead">
				<div class="sectionheadcontainer">
					<div class="sectiontitle">
						<span>
							<%= yield(:maintitle) %>
						</span>
					</div>
				</div>
			</header>
			
			<div class="mainsectionbodycontainer">
				<div class="mainsectionbodycontent">
					<% if flash.any? %>
						<div id="error_explanation">
							<% flash.each do |key, value| %>
							  <%= content_tag :div, value, class: "alert-#{key} alert" %>
							<% end %>
						</div>
					<% end %>

					<%= yield %>
				</div>
			</div>

		</section>
	</div>

</div>

</body>
</html>
